
<div id="footer" class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="text-white footer-section">
          <a class="footer-section" type="submit" onclick="sweetalertClick()">About Us</a> | <a class="footer-section" href="/">Contact Us</a> | ligroup
          © 2022
        </p>
      </div>
      <div class="col-lg-6">
        <div class="social-media-section">
          <a class="social-media" href="https://discord.gg/tbFK6Ks"><i class="fa-brands fa-discord"></i></a>
          <a class="social-media" href=""><i class="fa-brands fa-instagram"></i></a>
          <a class="social-media" href=""><i class="fa-brands fa-facebook"></i></a>
          <a class="social-media" href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
  </div>
  

  </div>

</div>

    <script>

      function sweetalertClick(){
        Swal.fire("Created by bergaman")
      }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>

</html>